.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__option:hover{
  cursor: pointer;
}
.header__logo{
  width: 100px;
  object-fit: contain;
  margin:0 20px;
  margin-top:18px;
}
.header__search{
  display: flex;
  flex: 1;
  border-radius: 4px;
  align-items: center;
  overflow: hidden;
}

.header__searchInput:focus{
  outline: none;
}
.header__search:focus-within{
  box-shadow: 0 0 0 3px #F90;
}
.header__searchInput{
  height:12px;
  padding: 10px;
  border: none;
  width: 100%;
  font-size:15px;
}


.header__searchIcon{
  padding: 5px;
  height: 22px !important;
  background-color:#febd69 ;
}
.header__optionLineOne{
  font-size: 10px;
}
.header__optionLineTwo{
font-size: 13px;
font-weight: 800;
}
.header__optionBasket{
display: flex;
align-items: center;
color: #fff;
}
.header__basketCount{
  margin-left:10px;
  margin-right:10px;
}
.header__nav{
  display: flex;
  justify-content: space-evenly;
}

.header__option{
  display: flex;
  flex-direction: column;
  margin-left:10px;
  margin-right: 10px;
  color:#fff;
}
.location__logo{
  width: 16px;
  height:16px;
}